<div class="">
        <h3 class="flex justify-center text-lg font-medium leading-6 text-gray-900"><%= title %></h3>
        <p class="flex justify-center mt-1 text-sm text-gray-500"><%= tagline.html_safe %></p>
</div>
