<p>
  Hi dude

  We’ve reviewed your application for QuinnDate and determined it’s not a fit at this time  If you think we’ve misinterpreted your submission just reply to this email with further details

  QuinnDate team
</p>
